<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>posts</title>
</head>
<body>
<h2>posts 페이지입니다.</h2>
<table>
    <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Writer</th>
        <th>Delete</th>
    </tr>
    <tr th:each="post, postIndex : ${posts}">
        <td th:text="${postIndex.count}">Number</td>
        <td><a th:href="@{/post/{postId}(postId=${post.id})}" th:text="${post.title}">Link</a></td>
        <td th:text="${post.member.username}">Writer</td>
        <td>
            <form th:action="@{/post/delete/{postId}(postId=${post.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>